
.card{
    width: auto;
    margin: auto;
}
.cardTxt{
    display: flex;
    align-items: center;
}
.precio{
    font-size: 60px;
}

div .card img{
    width: 140px;
}
div .card p:last-of-type{
    display: none;
}
.productosDestacados div:nth-of-type(even){
    margin: auto;
}
.contenedorGrandeProductosDestacados{
    height: 830px;
}
